.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  position: center;
  /* padding: 2px 16px; */
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #333;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 0.5px 0 0.5px 0;
  
}

.footer:hover {
  color: red;
}


.column {
  float:left;
  width: 20%;
  padding: 33px;
  height: 300px; 
}

/* .row :hover {
  color: red;
} */



.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*h1 class*/
.first {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 50px;
  background-color: black;

}

#h1-1 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 50px;
  /* background-color: black; */
}

/* h1:hover {
  color: red;
} */

.image {
display: flex;
flex-direction: row;
justify-content: center;
gap: 40px;
height: 300px;
}

.image img {
height: 200px;
width: 80%;
}


@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; 
  }
}
