* {
    padding: 0px;
    margin: 0px;
  }

  /* body {
    font-size: 0.1em;
  } */
  
  .topnav {
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    padding: 20px 0 20px 0;
    text-decoration: none;
    color: white;
    overflow: hidden;
    
  
  }
  
  .topnav a {
    float: left;
    color: white;
    text-indent: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
  }
  
  .menu {
    float: right;
    padding-right: 5px;
  }

  @media screen and (max-width: 700px) {
    .topnav {
      float: none;
      width: 100%;
    }
  }

  h1 {
    font-family: 'Prata', serif;   }

  h2 {
    font-family: 'Prata', serif;
     }

  p {
    font-family: 'Prata', serif;
      }


  .card {
      text-align: center;

  }

  .card:hover {
      color: lightblue;
  }

  .row {
    margin: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-auto-rows: minmax(100px); */
    justify-content: center;
    grid-row-gap: 10px; 
    grid-column-gap: 10px;
    

  }

  .column {
    text-align: center;
    display: flex;
    flex-direction: column;
      /* background-color: #f8f8f8;
    box-shadow: 0 0 3px #666; */
    align-self: auto;
  

}

button {
  margin-top: auto;
  margin-bottom: 0;
  padding:0.1rem;
  font-family: 'Prata', serif;
}

button:hover {
  background-color: lightblue;
}

  
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
      grid-template-columns: auto auto;
      margin: 2em;

    }
  }

@media screen and (max-width: 700px) {
    .column {
      flex: 50%;
      margin: 2em;
    }
  }


  .img-div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    justify-content: center;
    margin: 4em;
    gap: 40px;
  }

  @media only screen and (max-width: 700px) {
    .img-div {
      flex-direction: column;
      grid-template-columns: auto;
      margin: 0%;
      justify-content: center;

    }
}



#footer {
    background-color: lightblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin: 1rem;
}
